{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}

{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><img class="svg-icon" src="images/email.svg"></a>{% endif %}

{% if site.footer-links.etsy %}<a href="https://www.etsy.com/{{ site.footer-links.etsy }}"><img class="svg-icon" src="images/etsy.svg"></a>{% endif %}

{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><img class="svg-icon" src="images/facebook.svg"></a>{% endif %}

{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><img class="svg-icon" src="images/flicker.svg"></a>{% endif %}

{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><img class="svg-icon" src="images/github.svg"></a>{% endif %}

{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><img class="svg-icon" src="images/instagram.svg"></a>{% endif %}

{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><img class="svg-icon" src="images/linkedin.svg"></a>{% endif %}

{% if site.footer-links.medium %}<a href="https://www.medium.com/@{{ site.footer-links.medium }}"><img class="svg-icon" src="images/medium.svg"></a>{% endif %}

{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><img class="svg-icon" src="images/pinterest.svg"></a>{% endif %}

{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><img class="svg-icon" src="images/rss.svg"></a>{% endif %}

{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><img class="svg-icon" src="images/twitter.svg"></a>{% endif %}

{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><img class="svg-icon" src="images/stackoverflow.svg"></a>{% endif %}

{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><img class="svg-icon" src="images/youtube.svg"></a>{% endif %}

{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><img class="svg-icon" src="images/googleplus.svg"></a>{% endif %}
